<h3>Details of post</h3>

<p>
    <%=@row['content']%>
    <br>
    Added at <%=@row['created_date']%>
</p>
    

<h4>Comments: </h4>

<form method="POST" action="/details/<%=@row['id']%>">
  <div class="form-floating">
    <textarea name="details_comments" class="form-control" placeholder="Leave the comments here" id="floatingTextarea2" style="height: 100px"></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>