<h2>Add new posts</h2>


<form method="POST" action="/new_posts">
  <div class="form-floating">
  <textarea name="new_post" class="form-control" placeholder="Leave a new post here" id="floatingTextarea2" style="height: 200px"></textarea>
  <label for="floatingTextarea2">New Post</label>
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>