<h2>Hello posts</h2>

<% @result.each do |post|%>
    <p>
        <%=post['content']%>
        <br>
        <%=post['created_date']%>
    </p>
    <a href='/details/<%=post['id']%>'>Comments</a>
    <br><br>
<%end%>